*{
    margin: 0;
    padding: 0;
}
.nav-item-link{
    display: block;
    color:#FF0000;
    text-decoration:none;
    cursor:pointer;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 20px;
}
.nav-item-link:hover{
    color: black;
}
.nav-item{
    list-style-type: none;
    display: inline-block;
}
.nav{
    list-style-type: none;
    text-decoration:none;
    text-align: center;
}
.main-banner{
    width: 100%;
    display: block;
}
.main-heading{
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3px;
    text-align: center;
    margin: 50px 0px 40px;
}
.main-description{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.start-btn-container{
    width: 100%;
}
.start-btn{
    border: none;
    display: block;
    text-align: center;
    background: #FF0000;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    margin: 35px auto;
    padding: 13px 0;
    width: 191px;
}
.footer-text{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
    padding: 30px 105px 30px 0px;
}
